%div(class="row")
  %h2 
    = @event.name

  = link_to "TicketWeb Site", @event.ticketweb_url(@event.ticketweb_event_id)

  %div(class="well")
    = @event.description.html_safe

  %div(class="row")
    %div(class="span9")
      %h3
        = link_to @event.venue.name, venue_path(@event.venue)
      %ul
        %li
          = "#{@event.start_date.to_s(:short)} - #{@event.end_date.to_s(:short)}"
        %li
          = "$#{@event.price_low} - $#{@event.price_high}"
        %li
          = "On sale #{@event.on_sale_date.to_s(:short)}"
    %div(class="span3")
      = image_tag @event.event_image_url_large unless @event.event_image_url_large.nil?