%h2
  Events
  %span
    = "#{@events.count} total events"

- @events.each do |e|
  %div(class="page_item")
    %div(class="header_name")
      = link_to e.name, event_path(e)
    %div(class="header_description")
      - unless e.description.nil?
        = e.description.html_safe
      = "#{e.attractions.count} Attractions"
    %div(class="event_venue")
      Venue:
      %span 
        - unless e.venue.url.nil? or e.venue.url.empty? 
          = link_to e.venue.name, e.venue.url
        - else
          = e.venue.name