%h2
  Venues
  %span
    = "#{@venues.count} total venues"

  - @venues.each do |v|
    %div(class="page_item")
      %div(class="header_name")
        = link_to v.name, venue_path(v)
      %div(class="header_description")
        = "#{v.address}, #{v.city}, #{v.state} #{v.postal_code}, #{v.country}"
      %div(class="venue_event_list")
        %ul
          %div Events
          - v.events.each do |e|
            %li
              = "#{e.start_date.to_s}"
              = link_to e.name, e.url
